// Variables golbales
.Resaltar{
    color: var(--color_primario);
    opacity: 1;
    font-weight: bold;
}

.caja{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin: 100px auto 0;
  display: inline-block;
  font-size: 70px;
  color: transparent;
  background: var(--color_gradiente);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aviso{
transition: var(--trasition);
opacity: 1;
    font-size: 40px;
    padding: 40px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -20px;
    transition: var(--trasition);
  animation: flecha 1.5s  infinite alternate;
}

.ocultar{
    transition: var(--trasition);
    animation: pause;
    opacity: 0;
}

@keyframes flecha {
    from{
        transform: translateY(-30px);
        
    }
    to{
        transform: translateY(40px);
      
    }
}

.header{
   
    position: relative;
    display: flex;
    flex-flow: row wrap-reverse;
    line-height: 3.2rem;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    padding: 200px 10px 100px 10px;
    margin-bottom: 7px;
    font-weight: 500;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
 

    &__img{
        border-radius: 1rem;
        border: 4px solid #fff;
        width: 250px;
    }

}

.header::after{
    background: var(--fondo_costraste);
    backdrop-filter: blur(5px);
position: absolute;
content: "";
inset: 0;
border-radius: 1rem;

}


@keyframes header__img__animation {
    from{
     
    }

   

}
.header p, img, i{
    position: relative;
    z-index: 10;
}

.text__name{
    font-family: "Righteous", cursive;
    z-index: 10;
    background: var(--color_gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.text__job{

    font-size: 25px;
   opacity: 0.6;
}

.text__links{
    z-index: 10;
    position: relative;
     padding: 5px 10px;
     display: flex;
     justify-content: space-evenly;
     border-radius: 3rem;
     width: 170px;
  border: dashed 3px #ffffff7e;
    display: flex;
    font-size: 25px;
    transition: var(--trasition);
    &:hover{
        border-color: var(--color_primario);
    }

    & i{
        transition: var(--trasition);
        opacity: 0.7;
        cursor: pointer;

        &:hover{
            color: var(--color_primario);
            opacity: 1;
        }
    }
}


.contenedor{
    
    padding: 50px 20px;
    gap: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-around;
}





.sobre_mi__title{
  
    font-size: 50px;
    background: var(--color_gradiente);
    display: inline; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;

}
.sobre_mi__text{
    width: 900px;
    font-size: 17px;
    opacity: 0.7;
 
}


.historia{
    word-wrap: break-word;
    gap: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;

    border-left: #fff solid 4px;
    position: relative;

    &__sirculo{
        position: absolute;
        border-radius: 50%;
        left: -12px;
        content: " ";
        width: 20px;
        height: 20px;
        background-color: #fff;
    }
    
}


.historia__item{
background: var(--color_gradiente);
margin-right: 20px;
    padding: 20px;
    border-radius: 1.5rem;
    position: relative;
    top: -30px;
  left: 20px;

  &::after{
    position: absolute;
    content: "";
    inset: 2px;
    background: var(--fondo_costraste);
    border-radius: 1.5rem;
  }
  & p, h2, span{
    position: relative;
      z-index: 10;
  }
}


.historia__title{
    line-height: 2.7rem;
    font-size: 40px;
    color: var(--color_primario);
   
}

.historia__text, .sobre_mi__text{
    width: 600px;
  
    opacity: 0.7;
}



.historia__fecha{
    opacity:0.4 ;
    font-weight: bold;
}



.estadisticas{
 
   padding: 70px 20px;
   align-items: center;
   text-align: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   border-radius: 1.5rem;
   gap: 20px;

}

.estadisticas__item{
    border: dashed 3px #ffffff7e;
    width: 150px;
    background: var(--fondo);
    padding: 20px 40px;
    border-radius: 1.5rem;
& p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;

   
}
    
}

.item__title{
    font-size: 30px;
    color: var(--color_primario);
}

.item__numero{
    font-family: 'Digital-7';
    font-size: 50px;
    
}

.item__letra{
    position: relative;
    bottom: 5px;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.proyectos {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 100px;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    gap: 30px;
    padding: 0 auto;
    transition: 0.3s;
    top: 50px;
    position: relative;
  }
  

  .proyecto__carta {
    overflow: hidden;
    position: relative;
  
    transition: ease-in-out;
  
    border-radius: 10px;
    width: min(400px, 95% );
   
    transition: 0.3s;
    align-items: center;
    text-align: center;
    background: var(--color_gradiente);
  }
  
  .proyecto__carta::after {
    position: absolute;
    content: "";
    inset: 2px;
    z-index: 1;
    background-color: #000000ef;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }

  .proyecto__interior {
    padding: 0 20px 40px 20px;
  }
  
  .proyecto__carta img,
  .proyecto__carta p,
  .proyecto__carta h1,
  .proyecto__carta h1,
  .proyecto__carta i,
  .proyecto__carta div {
    position: relative;
    z-index: 20;
  }

  .proyecto__estado {
    padding: 10px 20px;
    position: absolute;

    width: 100px;
    right: -2px;
    top: -3px;
    background: #8a8a8a0c;
    backdrop-filter: blur(5px);
    margin: 5px 4px;
    box-shadow: inset 9px -5px 12px 0px #19c9ff;
    border-top-right-radius: 7.9px;
    border-bottom-left-radius: 10px;
  z-index: 30;
  }
  
  .proyecto__estado h2 {
    position: relative;
    bottom: 4px;
    font-size: 20px;
    color: #b8b8b8;
  }
  .proyecto__imagen {
    border-bottom: #ffffff solid 5px;
    top: 2px;
    left: 0;
    right: 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 99%;
    height: 200px;
    background: linear-gradient(45deg, #002741, #006280, #19c9ff);
    object-fit:cover;
  }

  .proyecto__informacion {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: space-between;
  }
  
  .proyecto__version {
   position: relative;
   top: 10px;
   left: 10px;
    opacity: 0.7;
    background-color: #b4b4b4;
    color: #ffffff;
    padding: 7px 20px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 30px;
    border: solid #8a8a8a 2px;
  }

  .proyecto__lenguajes {
    padding: 25px 20px 0 20px;
    display: flex;
    justify-content: end;
    font-size: 25px;
    gap: 5px;
  }
  
  .proyecto__lenguajes i {
    margin: 2px;
    color: #cececece;
  }
  
  .proyecto__carta--titulo {
    margin-top: 0;
    text-align: start;
    font-size: 40px;
    color: #ffffff;
  }
  
  .proyecto__descripcion {
    font-weight: 400;
    font-size: 15px;
 opacity: 0.5;
  text-align: start;
    margin-top: 10px auto;
    color: rgb(199, 199, 199);
  }
  
  .proyecto__botones {
    margin: 10px;
    display: flex;
    position: absolute;
    bottom: -20px;
    justify-content: center;
    gap: 20px;
    flex-flow: row wrap;
  cursor: pointer;
    & a:hover{
      color: #fff;
    }
  }
  
  .proyecto__boton {
    width: auto;
    height: auto;
    padding: 10px 20px;
  
    border-radius: 7px;
  }
  
  .proyecto__boton--codigo {
    position: relative;
    background-color: transparent;
    overflow: hidden;
  }
  
  .proyecto__boton--codigo a,
  span {
    position: relative;
    z-index: 10;
  }
  
  .proyecto__boton--codigo::before {
    position: absolute;
    border-radius: 5px;
    content: "";
    inset: 4px;
    z-index: 2;
    background: var(--fondo);
  }
  
  .proyecto__boton--codigo:hover::before {
    background: rgba(0, 9, 20, 0.548);
  }
  
  .proyecto__boton--codigo::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 200%;
    inset: 0;
    background: linear-gradient(45deg, rgb(0, 60, 255), rgb(195, 0, 255));
    top: -100px;
    transition: 0.3s ease-in-out all;
    border-radius: 0 0 70% 70%;
  }
  
  .proyecto__boton--codigo:hover::after {
    cursor: pointer;
  
    top: 0;
  }
  .proyecto__boton--info {
    overflow: hidden;
  
    color: var(--color_primario);
    background-color: transparent;
  }
  .proyecto__boton--info::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 200%;
    inset: 0;
    background: linear-gradient(45deg, rgb(0, 60, 255), rgb(195, 0, 255));
    top: 0;
    transition: 0.3s ease-in-out all;
    border-radius: 0 0 70% 70%;
  }
  .proyecto__boton--info a {
    position: relative;
    z-index: 2;
  }
  
  .proyecto__boton--info::before {
    position: absolute;
    border-radius: 5px;
    content: "";
    inset: 4px;
    z-index: 2;
    background: var(--fondo);
  }
  
  .proyecto__boton--info:hover::after {
    top: 100px;
  }
  
  .proyecto__informacion {
    display: flex;
    position: relative;
    bottom: 20px;
    justify-content: space-between;
  }
  



  .extra {
    padding: 40px 20px;
  }
  
  .conteiner__titulo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: row wrap;
    font-size: 50px;
   
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .conteiner__texto {
    font-size: 20px;
    
    color: #a7a7a7;
  }
  
  .conteniner_iconos {
    margin-top: 50px;
    justify-content: center;
    gap: 20px;
    display: flex;
    font-size: 100px;
    flex-flow: row wrap;
  }
  
  .icon {
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 80px;
    flex-flow: column;
    background-color: var(--fondo_costraste);
    width: 150px;
    padding: 20px;
    border-radius: 7px;
    border: #ffffff33 solid 2px;
  color: #b8b8b8;
    bottom: 200px;
  }
  

  .iconos__texto {
    font-size: 20px;
    font-weight: bold;
  }
 
  
  .programas__imgs {
    width: 100px;
  }
  
  .extra__programas {
    margin-top: 110px;
  }



.conteniner_cards{
  margin-top: 20px ;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  
}  

.consejo__card {
  border-radius: 10px;
  display: flex;
  width: min(310px, 95%);
  background-color: var(--fondo_costraste);
  padding: 20px;
 
}



.card__interior {
  display: flex;
  flex-direction: column;
}

.card__icon {
  justify-content: center;
  font-size: 100px;
  margin: 0 auto;
}

.card__footer ul {
  justify-content: start;
  margin: 30px;
  list-style-type: circle;
}

.card__footer li {
  margin: 10px;
}

.card__footer a {
  text-decoration: underline;
  transition: 0.5s;
}
.card__footer a:hover {
  color: var(--color_primario);
}

.card__descripcion {
  color: #ffffff77;
  font-size: 15px;
}

.card__title{
  font-size: 40px;
  align-self: center;
  line-height: 4rem;
}

  
  
form {
  display: flex;
  flex-direction: column;
}

.formulario__texto {
  align-items: start;
  text-align: start;
}

.separar {
  font-size: 20px;
  align-self: center;
  margin: 70px 0;

}


.separar.visible{
transform: scale(1);
opacity: 1;
}
.formulario__celda,
template {
  resize: none;
  background-color: var(--fondo_costraste);
  border: var(--color_terciario) solid 2px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin: 5px auto;
}

.formulario__enviar {
  background-color: transparent;
  margin-top: 20px;
  transition: 0.5s;
  border: var(--color_primario) solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  align-self: center;
}

.formulario__enviar:hover {
  color: var(--color_primario);
  border: #ffffff solid 2px;
}

.contacto__formulario,
.contacto__links {
  width: min(300px, 75%);
  height: 350px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-flow: column;
  border: #cecece solid 2px;
  border-radius: 10px;
  margin: 5px;
  padding: 30px;
}

.contacto__formulario {

  position: relative;
  transition: 0.5s;
}

.contacto__link {
  font-size: 15px;
  align-items: center;
  text-align: center;
}

.contacto__link--correo {
  transition: 0.5s;
  background-color: var(--fondo_costraste);
  padding: 10px;
  border-bottom: var(--color_primario) solid 2px;
  border-left: transparent solid 2px;
  border-right: transparent solid 2px;
  border-top: transparent solid 2px;
  border-radius: 10px;
}

.contacto__link--correo:hover {
  cursor: pointer;
  box-shadow: 0 0 7px var(--color_primario);
  border-top: var(--color_primario) solid 2px;
  border-left: var(--color_primario) solid 2px;
  border-right: var(--color_primario) solid 2px;
}

.contacto__link--x {
  transition: 0.5s;
  background-color: var(--fondo_costraste);
  padding: 10px;
  border-bottom: var(--color_terciario) solid 2px;
  border-left: transparent solid 2px;
  border-right: transparent solid 2px;
  border-top: transparent solid 2px;
  border-radius: 10px;
}

.contacto__link--x:hover {
  cursor: pointer;
  box-shadow: 0 0 7px var(--color_terciario);
  border-top: var(--color_terciario) solid 2px;
  border-left: var(--color_terciario) solid 2px;
  border-right: var(--color_terciario) solid 2px;
}

.contacto__link--discord {
  transition: 0.5s;
  background-color: var(--fondo_costraste);
  padding: 10px;
  border-bottom: #d400ff solid 2px;
  border-left: transparent solid 2px;
  border-right: transparent solid 2px;
  border-top: transparent solid 2px;
  border-radius: 10px;
}

.contacto__link--discord:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #d400ff;
  border-top: #d400ff solid 2px;
  border-left: #d400ff solid 2px;
  border-right: #d400ff solid 2px;
}

.contacto__link--texto {
  margin-left: 4px;
  position: relative;
  text-align: center;
  align-items: center;
}

/* pie de pagina o footer  */

.footer {
  position: relative;
margin-top: 200px;
background-color: var(--fondo_costraste);
align-items: center;
text-align: center;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding: 30px;
}


.footer__texto {
font-size: 20px;
color: #cecece;
margin-bottom: 25px;
}
.footer__links {
display: flex;
gap: 20px;
align-items: center;
text-align: center;
justify-content: center;
}

.footer__links i {
transition: 0.5s;
font-size: 20px;
background-color: var(--color_primario);
border-radius: 7px;
padding: 10px;
text-align: center;
justify-content: center;

}

.footer__links i:hover {
color: var(--color_secundario);
background-color: #ffffff;
}

@media (max-width: 700px){

  .titulo{
    font-size: 50px;
  }
    .header{
        font-size: 30px;
        line-height: 2.3rem;
    }

    .historia__title{
       
        font-size: 25px;
   
       
    }

   

  
}

@media (max-width: 900px) {
    .sobre_mi__text,   .historia__text{
        width: 95%;
    }

    .contenedor{
        justify-content: center;
    }
 
    
}

@media (max-width: 997px) {
    .estadisticas{
      margin-top: 40px;
      display: flex;
      flex-flow: row wrap;
      padding: 15px;
    
    }

   #Contacto{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   }
}
  
